*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0rem;
  color: #000; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 50px; }
  .header .logo-link {
    position: relative;
    height: 50px; }
    .header .logo-link .nav-logo {
      height: 100%; }
  .header .navigation-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .navigation-menu .close-icon {
      color: #fff;
      border: 2px solid #0e76bc;
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none; }
    .header .navigation-menu li {
      position: relative;
      list-style: none;
      text-align: center; }
      .header .navigation-menu li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.6s; }
        .header .navigation-menu li a.active {
          color: #0e76bc; }
        .header .navigation-menu li a:hover {
          color: #0e76bc; }

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  display: none; }

@media screen and (max-width: 870px) {
  .header {
    padding: 15px 30px; }
    .header .navigation-menu li {
      font-size: 13px; }
    .header .logo-link {
      height: 40px; } }

@media screen and (max-width: 700px) {
  .header {
    padding: 15px 25px; }
    .header .navigation-menu li {
      font-size: 11px; } }

@media screen and (max-width: 400px) {
  .header {
    position: fixed;
    padding: 15px;
    justify-content: space-between; }
    .header .navigation-menu {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: #0e76bc;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      transform: translateY(-100%); }
      .header .navigation-menu.active {
        transform: translateX(0);
        transition: all 0.6s; }
      .header .navigation-menu .close-icon {
        display: flex;
        padding: 15px;
        font-size: 20px;
        border: 2px solid #fff;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px 25px; }
        .header .navigation-menu .close-icon:hover {
          color: #0e76bc;
          background-color: #fff; }
      .header .navigation-menu li {
        font-size: 20px; }
        .header .navigation-menu li a {
          color: #fff;
          padding: 15px 25px; }
          .header .navigation-menu li a.active {
            color: #fff; }
          .header .navigation-menu li a:hover {
            color: #0e76bc;
            background-color: #fff; }
    .header .logo-link {
      height: 30px; }
    .header .menu-icon {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      cursor: pointer; }
    .header .bar {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
      display: block; } }

.campaign {
  background: url(/img/background.png);
  background-position: 50% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  text-align: center; }
  .campaign-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    margin-bottom: -20px; }
    .campaign-header-logo {
      width: 480px; }
  .campaign-description {
    color: #414042; }
  .campaign-event-details {
    font-size: 18px; }
  .campaign button {
    text-transform: capitalize;
    background-color: transparent;
    color: #0e76bc;
    padding: 10px 15px;
    border: 3px solid green;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer; }
    .campaign button:hover {
      background-color: #0e76bc;
      color: #fff;
      outline: none; }

@media screen and (max-width: 870px) {
  .campaign {
    gap: 30px; }
    .campaign-header {
      width: 90%;
      margin-bottom: -20px; }
      .campaign-header-logo {
        width: 100%; }
    .campaign-description {
      color: #414042;
      font-size: 11px;
      width: 95%; }
    .campaign-event-details {
      font-size: 12px; }
    .campaign button {
      padding: 8px 12px;
      border: 2px solid green; } }

.registration-section {
  background-color: #0e76bc;
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  .registration-section .registration {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .registration-section .registration-title {
      font-size: 30px;
      text-transform: uppercase; }
    .registration-section .registration-description {
      margin-top: 25px; }
    .registration-section .registration .form {
      margin-top: 25px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; }
      .registration-section .registration .form .form-inputs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 50px);
        justify-content: center;
        gap: 20px 14px; }
        .registration-section .registration .form .form-inputs input {
          width: 100%;
          font-size: 14px;
          padding: 10px;
          color: #0e76bc;
          outline: none; }
          .registration-section .registration .form .form-inputs input::placeholder {
            color: #0e76bc; }
        .registration-section .registration .form .form-inputs .address {
          grid-column: 1 / -1; }
        .registration-section .registration .form .form-inputs .select-container {
          display: flex;
          justify-content: center;
          position: relative;
          height: 100%;
          width: 100%; }
          .registration-section .registration .form .form-inputs .select-container .select-shirt {
            font-size: 14px;
            color: #0e76bc;
            width: 100%;
            border: none;
            outline: none;
            appearance: none;
            padding: 0 15px; }
          .registration-section .registration .form .form-inputs .select-container img {
            width: 50px;
            height: 100%;
            position: absolute;
            right: 0; }
      .registration-section .registration .form .form-description {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px; }
        .registration-section .registration .form .form-description .add-participants {
          display: flex;
          align-items: center;
          gap: 5px; }
          .registration-section .registration .form .form-description .add-participants .add-icon {
            height: 30px;
            color: #0e76bc; }
      .registration-section .registration .form button {
        align-self: flex-end;
        border: none;
        font-weight: bold;
        font-size: 14px;
        padding: 10px 15px;
        color: #fff;
        background-color: green;
        text-transform: uppercase;
        cursor: pointer; }

@media screen and (max-width: 400px) {
  .registration-section {
    font-size: 11px; }
    .registration-section .registration {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .registration-section .registration-title {
        font-size: 25px;
        text-transform: uppercase; }
      .registration-section .registration-description {
        margin-top: 10px; }
      .registration-section .registration .form {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; }
        .registration-section .registration .form .form-inputs {
          height: 60%;
          grid-template-rows: repeat(5, 30px);
          gap: 15px 13px; }
          .registration-section .registration .form .form-inputs input {
            font-size: 12px;
            padding: 5px; }
          .registration-section .registration .form .form-inputs .select-container .select-shirt {
            font-size: 12px; }
          .registration-section .registration .form .form-inputs .select-container img {
            width: 25px; }
        .registration-section .registration .form .form-description {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          font-size: 12px; }
          .registration-section .registration .form .form-description .add-participants .add-icon {
            height: 20px; }
        .registration-section .registration .form button {
          align-self: flex-end;
          border: none;
          font-weight: bold;
          font-size: 12px;
          padding: 8px 12px;
          color: #fff;
          background-color: green;
          text-transform: uppercase;
          cursor: pointer; } }

.label {
  height: 100%;
  color: #fff; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  font-size: 14px;
  display: none; }
  .modal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column; }
    .modal .modal-content h2 {
      margin-bottom: 10px;
      font-size: 30px; }
    .modal .modal-content p {
      margin-top: 10px; }
    .modal .modal-content .close {
      color: #aaa;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 20px; }
    .modal .modal-content .close:hover,
    .modal .modal-content .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }
    .modal .modal-content .modal-data {
      margin-top: 20px; }
      .modal .modal-content .modal-data .title.description {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between; }
      .modal .modal-content .modal-data .dataTable {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px; }
        .modal .modal-content .modal-data .dataTable thead tr:last-child {
          border-bottom: 1px solid black; }
        .modal .modal-content .modal-data .dataTable thead tr th {
          padding: 8px;
          text-align: left; }
        .modal .modal-content .modal-data .dataTable tbody td {
          padding: 8px; }

.modal-active {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 400px) {
  .modal {
    font-size: 10px; }
    .modal .modal-content {
      width: 85%;
      padding: 10px 15px; }
      .modal .modal-content h2 {
        font-size: 20px; }
      .modal .modal-content p {
        margin-top: 8px;
        text-align: justify; }
      .modal .modal-content .close {
        color: #aaa;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 20px; }
      .modal .modal-content .close:hover,
      .modal .modal-content .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; }
      .modal .modal-content .modal-data {
        margin-top: 15px; }
        .modal .modal-content .modal-data .title.description {
          margin-bottom: 10px;
          display: flex;
          flex-direction: column-reverse; }
        .modal .modal-content .modal-data .dataTable {
          width: 100%;
          border-collapse: collapse;
          font-size: 11px; }
          .modal .modal-content .modal-data .dataTable thead tr:last-child {
            border-bottom: 1px solid black; }
          .modal .modal-content .modal-data .dataTable thead tr th {
            text-align: center; }
          .modal .modal-content .modal-data .dataTable tbody td {
            padding: 5px; } }
